[Unit]
After=systemd-modules-load.service
Requires=systemd-modules-load.service
Description=PipeWire Multimedia Service (system-wide)

[Service]
Type=simple
User=pipewire
Group=pipewire
RuntimeDirectory=pipewire
RuntimeDirectoryMode=0770
Environment=PIPEWIRE_RUNTIME_DIR=/run/pipewire
Environment=XDG_RUNTIME_DIR=/run/pipewire
ExecStart=/usr/bin/pipewire
Restart=on-failure
Slice=system.slice

[Install]
WantedBy=multi-user.target
