[Unit]
Description=Multimedia Service Session Manager (system-wide)
After=pipewire.service
BindsTo=pipewire.service

[Service]
Type=simple
User=pipewire
Group=pipewire
Environment=PIPEWIRE_RUNTIME_DIR=/run/pipewire
Environment=XDG_RUNTIME_DIR=/run/pipewire
Environment=GIO_USE_VFS=local
Environment=HOME=/var/lib/pipewire
Environment=XDG_CONFIG_HOME=/var/lib/pipewire/.config
Environment=XDG_STATE_HOME=/var/lib/pipewire/.local/state
Environment=XDG_CACHE_HOME=/var/lib/pipewire/.cache
Environment=XDG_DATA_HOME=/var/lib/pipewire/.local/share
ExecStart=/usr/bin/dbus-run-session -- /usr/bin/wireplumber
Restart=on-failure
Slice=system.slice

[Install]
WantedBy=pipewire.service
